* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
  font-size: 3rem;
}

nav {
  padding: 1rem;
  background-color: #44b78b;
  color: white;
  font-size: 2.5rem;
}

main {
  padding: 1rem;
}

h1,
h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
  width: 50vw;
}
a {
  text-decoration: none;
  color: #81dbb8;
}
a:hover {
  opacity: 0.85;
  color: rgb(216, 250, 209);
}

.banner {
  display: block;
  width: 100%;
  max-width: 40vw;
  max-height: 50vh;
}
.form-with-validation {
  max-width: 600px;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: flex-start;
  margin: 0 auto;
}

.form-with-validation div {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}

.form-with-validation input {
  padding: 0.25rem;
  /* max-width: 600px; */
}

.form-submit {
  padding: 0.5rem;
  border-radius: 10px;
  width: 125px;
}

.helptext {
  font-size: 1rem;
  margin-left: 1rem;
}

.helptext ul {
  list-style-type: none;
}

.errorlist {
  color: #f00;
  margin-left: 2rem;
}

.errorlist li::marker {
  content: "🚨 ";
}

.logout {
  display: inline-block;
}

.logout-button {
  font-size: 2.5rem;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.logout-button:hover {
  opacity: 0.85;
}

.post {
  padding: 0.2em 0.3em;
  background: #3030358c;
  border-radius: 0.4em 0.08em;
  width: 70vw;
  margin-bottom: 0.5em;
}

.post-action {
  display: flex;
  justify-content: space-between;
}

.delete-post {
  font-size: 0.5em;
}

.edit-textarea {
  min-height: calc(17em + 0.75rem + 2px) !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  margin-block: 1em;
}

.post-name-list {
  list-style: square;
  font-size: 0.5em;
  cursor: pointer;
  font-family: monospace;
}
.post-name-list a {
  color: #fff;
}
.post-name-list:hover,
.post-name-list a:hover {
  color: #44b78b;
}

.footer {
  background: #6dd1af75;
  font-size: 0.3em;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(180, 180, 142);
}

.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1212119e;
  margin: 1em auto;
  padding: 1em;
}
.post-page p {
  margin-inline-start: 12rem;
}
.post-page span {
  font-size: 0.6em;
}

.post-page-edit {
  top: -2em;
  right: -21.5em;
  position: relative;
}

.udpate-post-img {
  margin-left: 4em;
  height: 15em;
}

.back-button {
  position: fixed;
  right: 1em;
}

.about-table {
  font-size: 0.5em;
  width: 50%;
  text-align: center;
}
.post-header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
